@media only screen and (max-width:500px)
{
    html{
        font-size: 45%;
    }
    .card , .box{
        width:100%;
        margin:2rem;
    }
    .card img{
        width:40%;
    }
    .forms{
        width:80%;
        top:2rem;
    }
    
    
}
@media only screen and (max-width:780px)
{
    html{
        font-size: 50%;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar ul{
        background-color: rgb(78, 163, 219);
        overflow:auto;
    }
    .sec-row, .cloud-row, .clients{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    .forms{
        position: relative;
        width:100%;
        left:14rem;
    }
    .sec-row{
        padding-left:2rem;
        padding-right: 2rem;
    }

    .cloud-col-2 img{
        width:50%;
    }
    .foot{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .head1, .lists, .logos{
        margin:2rem;
    }
#sec{
    height:auto;
}
    .sec-col-1,
    .sec-col-2,
    .cli-col-1,
    .cli-col-2,
    .cloud-col-1,
    .cloud-col-2
    {
        flex-basis: 100%;
        width:100%;
    }
    .flexi{
        flex-wrap: wrap;
    }
    .box1{
        margin: 4rem auto;
    }
    .forms{
        left:0rem;
        width:100%;
        top:2rem;
        margin:auto;
        height: 60%;
    }
}

@media only screen and (max-width:850px)
{
    html{
        font-size: 50%;
    }
}
@media only screen and (max-width:950px)
{
    html{
        font-size: 55%;
    }
}
@media only screen and (max-width:1050px)
{
    html{
        font-size: 58%;
    }
 

}
@media only screen and (max-width:2100px)
{
    html{
        font-size: 50%;
    }
    #sec{
        height:45%;
    }
}

